<li *ngIf="guitar" class="mb-5 shadow-lg bg-white rounded relative">
    <section class="p-4">
        <img [src]="guitar.image" [alt]="guitar.model" class="block w-96">
        <app-favourite-guitar-button [guitarId]="guitar.id"></app-favourite-guitar-button>
    </section>
    <section class="p-4">
        <span class="text-xl">{{ guitar.model }} by {{ guitar.manufacturer }}</span>
        <span class="block">Body: {{ guitar.bodyType }}</span>
    </section>
    <section class="p-4">
        <span class="block text-xl mt-1 mb-1">Materials</span>
        <ul>
            <li>Neck: {{ guitar.materials.neck }}</li>
            <li>Fretboard: {{ guitar.materials.fretboard }}</li>
            <li>Body: {{ guitar.materials.body }}</li>
        </ul>
    </section>
</li>