<aside class="absolute top-4 right-4 ">
    <button 
    class=" text-2xl p-2 rounded flex text-red-400"
    (click)="onFavoriteClick()">

   <ng-container *ngIf="!loading; else showSpinner">
        <ng-container *ngIf="isFavourite; then favourite else notFavourite" class="material-icons"></ng-container>
            <ng-template #favourite>
                <span>❤️</span> 
            </ng-template>
            <ng-template #notFavourite>
                <span>🖤</span>
        </ng-template>
    </ng-container>
    <ng-template #showSpinner>
        <span>⏳</span>
    </ng-template>

    </button>
</aside>
